# === Builds de Maven ===
**/target/

# === Maven Wrapper ===
!**/.mvn/wrapper/**
!**/mvnw
!**/mvnw.cmd

# === IDEs / editores ===
.vscode/
.idea/
*.iml

# === Logs y temporales ===
*.log
*.tmp

# === SO ===
.DS_Store
Thumbs.db

# === Docker ===
docker-compose.override.yml