# Ignorar los builds de Maven
/app/target/
/**/target/

# Wrapper de Maven
/app/.mvn/
!/app/.mvn/wrapper/
!/app/mvnw
!/app/mvnw.cmd

# IDEs y editores
.vscode/
.idea/
*.iml

# Logs y archivos temporales
*.log
*.tmp

# SO
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
